html {
    font-family: "UniversNext", "Helvetica", sans-serif;
}

body {
	margin: 4px;
}

.content-div {
	max-width: 780px;
	margin: 0 auto;
}

.meta-info {
    display: flex;
    align-items: self-start;
}

.meta-info p {
    display: inline;
    margin: 4px 0px;
}


.meta-info .value {
    color: black; 
    font-size: 24px;
}
.meta-info #artist {
    color: black; 
    font-size: 36px;
}
.meta-info #title {
    color: black; 
    font-size: 40px;
}

.description .value {
    padding: 0px 10px 0px 25px;
	display: flex;
    color: black; 
    font-size: 28px;
    text-align: justify;
}

header{
	display: block;
	width: 100%;
	background-color: white;
	color: black;
}

#topline {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#main-div {
}

footer {
	width: 100%;
}