html {
    font-family: "UniversNext", "Helvetica", sans-serif;
}

body {
	margin: 0;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	justify-content: space-between;
}


.content-div {
	max-width: 780px;
	margin: 0 auto;
}

.meta-info {
    display: flex;
    align-items: self-start;
    justify-content: space-between;
}

.meta-info p {
    display: inline;
    margin: 0;
}

.meta-info .key {
    color: brown;
    font-size: 22px;
}

.meta-info .value {
    color: black; 
    font-size: 34px;
    text-align: right;
}

.meta-info .description-value {
	display: flex;
    color: black; 
    font-size: 28px;
    text-align: justify;
}

header{
	display: block;
	width: 100%;
	background-color: white;
	color: black;
}

#topline {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#main-div {
}

footer {
	width: 100%;
}