html {
    font-family: "UniversNext", "Helvetica", sans-serif;
}

body {
    margin: 4px;
    overflow: hidden;
}

.content-div {
	max-width: 780px;
	margin: 0 auto;
    padding: 20px;
}

.meta-info {
    display: flex;
    align-items: self-start;
    margin: 4px 0px;
}

.meta-info p {
    display: inline;
    margin: 0;
}


.meta-info .value {
    color: black; 
    font-size: 24px;
}
.meta-info #artist {
    color: black; 
    font-size: 32px;
}
.meta-info #title {
    color: black; 
    font-size: 40px;
    font-weight: bold
}

.description .value {
    padding: 0;
	display: flex;
    color: black; 
    font-size: 28px;
}
