html {
	font-family: "UniversNext", "Helvetica", "sans-serif";
}

body {
	overflow: hidden;
	max-width: 780px;
	margin: 0 auto;
	padding: 24px;
}

#label {
  opacity: 0%;
}

.meta-info {
	margin: 4px 0px;
}

.meta-info p {
	display: inline;
	color: black; 
	margin: 0;
}

.meta-info #title {
	font-size: 40px;
	font-weight: bold
}

.meta-info #artist {
	font-size: 32px;
}

.meta-info #material {
	font-size: 24px;
}

.description{
	font-size: 28px;
}

/* ----- animation ----- */

.transition-500ms {
  transition: 500ms;
  transition-timing-function: ease-in-out;
}
